@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}



@theme {
  --font-sans: "Inter", sans-serif;
  --breakpoint-2xl: 80rem;
  --color-color-primary: #0F172A;
  --color-text-secondary: #334155;
  --color-text-thirdary: #CBD5E1;
  --color-text-fourthdary: #2563EB;
  --color-text-fithdary: #3B82F6;
  --color-border: #E2E8F0;
  --color-background: #F8FAFC;
}

@layer components {
  .tw-filepond .filepond--root {
    @apply min-h-[220px];
  }


  .tw-filepond .filepond--panel-root {
    @apply  !bg-white border border-dashed border-gray-300 rounded-xl;
  }

  .tw-filepond .filepond--drop-label {
    @apply text-gray-700 !min-h-[220px];
  }
}

.slick-prev:before,
.slick-next:before {
  color: #2563eb !important;
  /* đổi sang màu bạn muốn */
  font-size: 24px !important;
  /* chỉnh kích thước */
}

body {
  font-family: var(--font-sans);
}